@import "bourbon/bourbon";
@import "normalize";

$alabaster: #F2F3E4; // white
$morningGlory: #93CFD6; // blue
$shocking: #EA8EBA; // pink

// LAYOUT
.page-content {
    @include linear-gradient(45deg, $morningGlory, darken($alabaster, 5%));

    -webkit-animation:gradientBackground 10s ease infinite;
    -moz-animation:gradientBackground 10s ease infinite;
    -o-animation:gradientBackground 10s ease infinite;
    animation:gradientBackground 10s ease infinite;  
      
    background-size: 600% 100%;     
    width: 100%;  
    height: 100vh;
    overflow: hidden;
    float: left;
    display: block;
    margin-left: 180px;
}

@include keyframes(gradientBackground) {
  0% { background-position: 0 0 }
  50% { background-position: 100% 0 }
  100% { background-position: 0 0 }
}

.sidebar {
    height: 100vh;
    width: 180px;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    position: fixed;
    background-color: $alabaster;

    nav {
        width: 100%;
        text-align: center;
        ul {
            list-style-type: none;
            padding: 10px 0 10px 0;
            a {
                text-decoration: none;
            }
            li {
                padding: 10px 0 10px 0;
                &:hover {
                    background-color: lighten($shocking, 20%);
                }
            }
        }
    }
}

#logo-block {
    width: 100%;
    height: 65px;
    background-color: darken($alabaster, 5%);
}

footer {
    width: 100%;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: .8em;
}