@import "bourbon/bourbon";
@import "normalize";

$alabaster: #F2F3E4; // white
$morningGlory: #93CFD6; // blue
$shocking: #EA8EBA; // pink

/* you're the angel FONTop of my christmas tree */
$sans-serif: "brandon-grotesque", helvetica, sans-serif;
body {
	font-family: $sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: darken($morningGlory, 40%);
	a {
		color: darken($shocking, 10%);
		text-decoration: none;
		border-bottom: 1px solid darken($shocking, 10%);
	}
}

h1 { 
	font-weight: 200; 
	font-size: 18px; 
	letter-spacing: 2px; 
	text-transform: uppercase;
	color: darken($shocking, 10%);
	margin-top: 30px;
}

footer p { 
	padding-top: 160px;
	font-size: .8em;
	color: lighten($morningGlory, 20%);
}

/* and they shouted LAYOUT with glee */
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: $alabaster;
	margin: 0 0 260px;
}

//.main-content a, footer a {
//	color: darken($shocking, 10%);
//	text-decoration: none;
//	border-bottom: 1px solid darken($shocking, 10%);
//}

.main-content {
	width: 100%;
	min-height: 100%;
	padding-bottom: 40px;
	margin: 0 auto;
}

.about-content {
	width: 1024px;
	height: 600px;
	margin: 0 auto;
}

.bio-content {
	width: 46%;
	height: auto;
	margin: 20px 20px 0 20px;
	float: left;
}

.game {
	width: 800px;
	height: 450px;
	margin: 30px auto 0 auto;
	border: 3px solid $morningGlory;
}

header {
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: darken($morningGlory, 30%);
}

footer {
	width: 100%;
	height: 280px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url("../img/repeating-trees.png");
	background-repeat: repeat-x;
}

.page-header {
	width: 300px;
	height: auto;
	padding-top: 5px;
}

a.img-link {
	border-bottom: none;
}

.center {
	text-align: center;
}

/* NAV yourself a merry little christmas */
nav {
	width: 100%;
	height: 70px;
	background-color: $morningGlory;
	ul {
		margin: 0 auto;
		width: 1024px;
		list-style-type: none;
		li {
			display: block;
			float: left;
			text-align: center;
			width: 8.3333%;
			height: 55px;
			padding-top: 10px;
			&:hover {
					border-bottom: 5px solid $shocking;
					background-color: lighten($morningGlory, 5%);
				}
			a {
				text-decoration: none;
				img {
					border-radius: 50%;
					width: 50px;
					height: 50px;
					background-color: lighten($morningGlory, 20%);
				}
			}
		}
	}
}

/* Responsive */

@media (max-width: 800px) {
	.game {
		width: 90%;
		height: auto;
	}

	.about-content, .bio-content {
		width: 90%;
		height: auto;
	}
}